CLOUDFLARE_ACCOUNT_ID=<YOUR_ACCOUNT_ID_VALUE>
CLOUDFLARE_API_TOKEN=<YOUR_API_TOKEN_VALUE>
ENABLE_API=false
ENABLE_AUTH=false
ONLY_ACTIVATED=true
ENABLE_FILE_ACCESS=false
DB_TYPE=
D1_NAMESPACE=
KV_NAMESPACE=
R2_NAMESPACE=
PRISMA_PROVIDER=
PRISMA_API_KEY=
PASSKEY_DURATION=300
