button.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	position: relative;
	transition: color var(--skc-transition-fast) var(--skc-transition-timing-default);
}

button.icon > span {
	width: fit-content;
	height: fit-content;
	position: absolute;
	font-size: 15px;
	color: var(--skc-link-color);
	opacity: 0;
	visibility: hidden;
	transition: 0.2s linear;
	top: 130%;
}

button.icon div svg {
	transition: 0.2s linear;
}

button.icon div svg path {
	transition: 0.2s linear;
}

button.icon:hover div svg {
	transform: scale(1.2);
}

button.icon:hover div svg path {
	fill: var(--skc-link-color);
}

button.icon:hover > span {
	visibility: visible;
	opacity: 1;
	top: 110%;
}

button.connect {
	display: block;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	font-weight: 600;
	border-radius: 6px;
	overflow: hidden;
	padding: 3px;
	isolation: isolate;
	transition: color var(--skc-transition-fast) var(--skc-transition-timing-default);
}

button.connect::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 100%;
	background: linear-gradient(115deg, #4fcf70, #fad648, #7a1dd8, #12bcfe, #44ce7b);
	background-size: 25% 100%;
	animation: move .75s linear infinite;
	animation-play-state: paused;
	translate: -5% 0%;
	transition: translate 0.25s ease-out;
}

button.connect:hover::before {
	animation-play-state: running;
	transition-duration: 0.75s;
	translate: 0% 0%;
}

@keyframes move {
	to {
		transform: translateX(-25%);
	}
}

button.connect span {
	position: relative;
	display: block;
	padding: .5rem 1rem;
	font-size: 1.1rem;
	background: var(--skc-background-color);
	border-radius: 3px;
	height: 100%;
}

button.neon, .neon > button {
	border: 2px solid var(--skc-color-primary);
	color: var(--skc-color-primary);
	background-color: hsla(167, 68%, 45%, 0.2);
	border-radius: 1.4rem;
	padding: .3rem .7rem;
	cursor: pointer;
	transition: background-color var(--skc-transition-fast) var(--skc-transition-timing-default),
                border-color var(--skc-transition-fast) var(--skc-transition-timing-default);
}

button.neon:hover, .neon > button:hover {
	border-color: var(--skc-color-primary-dark);
	color: var(--skc-color-primary-dark);
}
