@theme {
	--color-core-100: oklch(0.95 0.05 145);
	--color-core-200: oklch(0.90 0.07 145);
	--color-core-300: oklch(0.85 0.09 145);
	--color-core-400: oklch(0.80 0.10 145);
	--color-core-500: oklch(0.72 0.11 145);
	--color-core-600: oklch(0.68 0.12 145);
	--color-core-700: oklch(0.64 0.13 145);
	--color-core-800: oklch(0.60 0.14 145);
	--color-core-900: oklch(0.56 0.15 145);

	--font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--bg-background-light: oklch(1 0 0);
	--bg-background-dark: oklch(0.05 0.02 180);
	--bg-background-surface: oklch(0.97 0.01 0);
	--bg-background-surface-dark: oklch(0.03 0.02 180);
	--bg-background-surface-light: oklch(0.97 0.01 0);
	--bg-background-surface-light-dark: oklch(0.03 0.02 180);
}
